<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE |IIT Palakkad</title>
    <link rel="icon" href="images/logo.png" type="image/png">
    <!-- links for google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&display=swap" rel="stylesheet">
    <!-- boootstrap css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet" />
</head>
<body>
<!-- header section  -->
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom crimson-text-regular">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <img src="images/logo.png" height="30px" width="30px"/>
    <span class="fs-4">CSE |IIT Palakkad</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> -->
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>
</header>
<!-- this is a dropdown from which you can chose the table name  -->
<div class="container crimson-text-regular">
  <br />
<div class="class1">
<p class="paragraph">Chose the data columns manually here </p>
  <form action="/GetTableDropDown" method="post" id="tableForm">
    <label for="tableName">Choose a Table:</label>
    <select name="tableName" onchange="submitForm()">
      <% if (locals.tableName) { %>
        <option value="<%=tableName%>"><%=tableName%></option>
      <% } else { %>
        <option id="select">Select</option>
      <% } %>
      <% for (var i = 0; i < tables.length; i++) { %>
        <option value="<%=tables[i].table_name%>"><%=tables[i].table_name%></option>
      <% } %>
    </select>
    <!-- <input type="submit" value="Go"> -->
  </form>
  <script>
    function submitForm() {
      document.getElementById('tableForm').submit();
    }
  </script>

<!-- trial  -->
 <p class="paragraph">or</p>
<p>To write query <button id="query" type="button" class="btn btn-success">Click here</button>  </p> 
<script>
  document.getElementById("query").addEventListener("click", () => {
    const queryBox = document.getElementById("querybox");
    queryBox.hidden = !queryBox.hidden; // Toggle the hidden property
  });
</script>

<form class="container queryBox" method="post" action="/queryDisplay" hidden id="querybox">
  <%if(locals.query){%>
    <script>
    const queryBox = document.getElementById("querybox");
    queryBox.hidden = !queryBox.hidden;
  </script>
  <%}%>
  <textarea rows="2" cols="50" name="naturalLanguage" >
    <%if(locals.naturalLanguage){%>
      <%=naturalLanguage%>
    <%}%>
  </textarea>
  <div>
    <!-- <br /> -->
    <!-- <a type="button" class="btn btn-success" href="/queryDisplay">Run</a> -->
     <br />
    <input type="submit" value="Run" class="btn btn-success">
    <a type="button" href="/queryKill"class="btn btn-danger">Exit</a>  
  </div>  
</form>

<%if(locals.query){%>
  <form class="container queryBox" method="post" action="/displayTable"  id="querybox">
    <textarea rows="2" cols="50" name="naturalLanguage" >
      <%=query%>
    </textarea>
    <div>
      <!-- <br /> -->
      <!-- <a type="button" class="btn btn-success" href="/queryDisplay">Run</a> -->
       <br />
      <input type="submit" value="Run" class="btn btn-success">
      <a type="button" href="/queryKill"class="btn btn-danger">Exit</a>  
    </div>  
  </form>
 <%}%>
 <!-- trial  -->

</div>
<br />
  <!-- this provides you list of checkboxes from which you can chose the list of coulms you want to display  -->
  <%if(locals.dataColumnNames){%>
<p>Chose the data columns manually down here</p>
<div class="table-container">
    <table class="table checkBoxes">
      <form action="/displayTable" method="post">
        <%if(locals.columnNamesArray){%>
          <!-- this is when check boxes are selected  -->
          <th>
            <input type="checkbox" id="allCheckBox"/>
            <script>
              
              document.getElementById('allCheckBox').addEventListener('change', function() {
                let checkboxes = document.getElementsByClassName('checkbox');
                for (let i = 0; i < checkboxes.length; i++) {
                  checkboxes[i].checked = this.checked;
                }
              });
            </script>
            </th>
          <%for(var i=0;i<dataColumnNames.length;i++){%>
            <th>
              <input type="checkbox" class="checkbox" name="<%= dataColumnNames[i] %>" value="<%= dataColumnNames[i] %>"
                <% if(columnNamesArray.includes(dataColumnNames[i])) { %>
                  checked
                <% } %>
              />
              <label class="columnName" for="<%= dataColumnNames[i] %>"><%= dataColumnNames[i] %></label>
            </th>
          <%}%>
          
        <%}else{%>

                                   <th>
                                  <input type="checkbox" id="allCheckBox"/>
                                  <script>
                                    
                                    document.getElementById('allCheckBox').addEventListener('change', function() {
                                      let checkboxes = document.getElementsByClassName('checkbox');
                                      for (let i = 0; i < checkboxes.length; i++) {
                                        checkboxes[i].checked = this.checked;
                                      }
                                    });
                                  </script>
                                  </th>
          <!-- this is when no check boxes are selected  -->
          <%for(var i=0;i<dataColumnNames.length;i++){%>
            <th>
              <input class="checkbox" type="checkbox" name="<%= dataColumnNames[i] %>" value="<%= dataColumnNames[i] %>" />
              <label class="columnName" for="<%= dataColumnNames[i] %>"><%= dataColumnNames[i] %></label>
              <script>
                var x = document.getElementsByClassName('columnName'); // Replace 'columnName' with your actual class name
            
                for (var i = 0; i < x.length; i++) {
                    var text = x[i].textContent; // Get the text content of the current element
            
                    // Capitalize the first letter
                    var capitalizedText = text.charAt(0).toUpperCase() + text.slice(1);
            
                    // Assign the capitalized text back to the element
                    x[i].textContent = capitalizedText;
                }
            </script>
            </th>
          <%}%>
          <%}%>
          <th class="goButton ">
            <input type="hidden" name="tableName" value="<%=tableName%>"/>
            <input class="btn btn-success" type="submit" value="Go" style="width: 100%; padding: 0 !important;"/>
            
          </th>
      </form>
    </table>
    </div>
 
  <%}%>

  <!-- displaying natural language to query here  -->
 
     



<!-- div block that displays the data of the slected table with selected entries  -->
     <div class="table-container">
      <%if(locals.dataColumns){%> 
        <table class="table table-striped table-hover ">
          <tr>
            <% for(var j=0; j<heading.length; j++) { %>
              <th class="columnName"><%= heading[j] %></th>
              <script>
                var x = document.getElementsByClassName('columnName'); // Replace 'columnName' with your actual class name
            
                for (var i = 0; i < x.length; i++) {
                    var text = x[i].textContent; // Get the text content of the current element
            
                    // Capitalize the first letter
                    function titleCase(str) {
                        return str.toLowerCase().replace(/(?:^|\s)\w/g, function(match) {
                            return match.toUpperCase();
                        });
                    }
            
                    // Assign the capitalized text back to the element
                    x[i].textContent = titleCase(text);
                }
            </script>
            
            <% } %>
          </tr>
          <% for(var i=0; i<dataColumns.length; i++) { %>
            <tr>
              <% for(var j=0; j<heading.length; j++) { %>
                <td><%= dataColumns[i][heading[j]] %></td>
              <% } %>
            </tr>
          <% } %>
        </table>  
      <%}%>
    </div>
  
  </div>
  <!-- footer  -->
  <footer class="py-3 my-4 crimson-text-regular">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li> -->
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>

    <p class="text-center text-body-secondary">© <span id="currentYear"></span> IIT, Palakkad</p>

    <script>
        var x = new Date();
        x = x.getFullYear();
        document.getElementById("currentYear").textContent = x;
    </script>
  </footer>
   <!-- js script for spreads sheet  -->
   <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
   <script src="https://jsuites.net/docs/v4/jsuites.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
